'
@using Presentation_MVC.Cart
@model Presentation_MVC.Cart.ShoppingCartVm;
@inject IShoppingCart ShoppingCart;

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shopping Cart</h1>

@{
    if (Model.ShoppingCart == null)
    {
        <h5>No products in shopping cart</h5>
    }
    else
    {
        <div class="row">
            <table class="table table-striped col-lg-8 col-12">
                <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(s => s.ShoppingCart[0].Product)
                    </th>
                    <th scope="col">
                        Unit Price
                    </th>
                    <th scope="col">
                        Total Price
                    </th>
                    <th scope="col" class="text-right">
                        @Html.DisplayNameFor(s => s.ShoppingCart[0].Quantity)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cartitem in Model.ShoppingCart)
                {
                    <tr>

                        <td>
                            @(cartitem.Product.Name)
                        </td>
                        <td>
                            @(cartitem.Product.Price) EUR
                        </td>
                        <td>
                            @(cartitem.Price) EUR
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col"></div> @*Positioning*@
                                <div class="input-group col-sm-5 col-7 mr-2">
                                    <div class="input-group-prepend">
                                        <a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@cartitem.Product.Id" class="btn btn-secondary" type="button">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control text-center" disabled="disabled" value="@cartitem.Quantity">
                                    <div class="input-group-append">
                                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@cartitem.Product.Id" class="btn btn-secondary">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <a asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-secondary">Clear cart</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <h5 class="text-right">Subtotal: @ShoppingCart.GetTotalIncVat().ToString("0.00") EUR</h5>
                    </td>
                </tr>

                </tfoot>
            </table>
            <div class="col-lg-4 col-12 mt-lg-4 px-lg-2 px-0">
                <partial name="_OrderSummary"/>
                <a class="btn btn-secondary col-12 mt-1" asp-controller="Orders" asp-action="Create">Order</a>
            </div>

        </div>
    }

}